*:fullscreen *:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
	overflow: auto !important;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
	/* display: none;
	opacity: 0; */
}
::-webkit-scrollbar-thumb {
	/* Optional: show position indicator (change color to make it visible) */
	background: transparent;
}

* {
	box-sizing: border-box;
}

html {
	display: block;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
}
html,
body {
	height: 100%;
}
body {
	display: block;
	background: linear-gradient(
		90deg,
		rgba(60, 60, 60, 1) 0%,
		rgba(90, 90, 90, 1) 49%,
		rgba(60, 60, 60, 1) 100%
	);
}

body.white {
	background: white;
}

body.dim {
	background: linear-gradient(
		90deg,
		rgba(3, 3, 3, 1) 0%,
		rgba(72, 72, 72, 1) 49%,
		rgba(3, 3, 3, 1) 100%
	);
}

a {
	outline: 0;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	-moz-outline-style: none;
}
a:active,
a:focus {
	outline: 0;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	-moz-outline-style: none;
}

.elementVisible {
	display: block;
	transition: all 1.33s ease-out;
}
.elementHidden {
	display: none;
	transition: all 1.33s ease-out;
}
.elementDisabled {
	cursor: not-allowed !important;
}
.elementPending {
	cursor: wait !important;
}
