.screen-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.line {
	display: none;
	width: 100%;
	height: 4px;
	position: relative;
	animation: appear 1s infinite, flick 1s infinite, big-jump 5ms infinite;
	.white {
		background: white;
		position: relative;
		top: 0;
		left: 0;
		height: 4px;
	}
	.red {
		background: red;
		position: relative;
		top: 0;
		left: 0;
		height: 1px;
	}
	.green {
		background: green;
		position: relative;
		top: 0;
		left: 0;
		height: 1px;
	}
}

.line.active {
	display: block;
}
