.remoteContainer {
	cursor: default;
	position: absolute;
	right: 0%;
	top: 3%;
	z-index: 144;
	min-width: 20%;
	max-width: 20%;
	min-height: 97%;
	max-height: 97%;
	opacity: 0.05;
	border: solid 0px violet;
	/* transform: translate(77%, 0); */
	transition: all 1.66s ease-out;
}

.remoteContainer:hover {
	opacity: 1;
	/* transform: translate(0%, 0); */
	transition: all 1.33s ease-in;
}
.remoteContainer.open {
	opacity: 0.75;
	/* transform: translate(0%, 0); */
	transition: all 1.33s ease-in;
}

/* .remoteLock {
	position: absolute;
	top: 50%;
	right: 0%;
	opacity: 0.25;
	color: #56c4d2;
	transform: translate(-250%, -50%);
	transition: all 0.66s ease-out;
}

.remoteLock:hover {
	opacity: 1;
	transition: all 0.66s ease-out;
}

.remoteLock.locked {
	opacity: 0.15;
	color: #be27b2;
	transform: translate(-250%, -50%) scaleX(-1);
	transition: all 0.66s ease-out;
}

.remoteLock.locked:hover {
	opacity: 1;
	transition: all 0.66s ease-out;
} */

.remoteLock {
	opacity: 0.25;
	position: absolute;
	color: #56c4d2;
	top: 50%;
	transform: translate(-120%, -50%) scaleX(-1);
	transition: all 0.66s ease-out;
}

.remoteLock:hover {
	opacity: 1;
	transition: all 0.66s ease-out;
}

.remoteLock.locked {
	opacity: 0.25;
	color: #be27b2;
	transform: translate(-120%, -50%) scaleX(1);
	transition: all 0.66s ease-out;
}

.remoteLock.locked:hover {
	opacity: 1;
	transition: all 0.66s ease-out;
}

.remoteController {
	cursor: default;
	z-index: 1444;
	position: absolute;
	top: 50%;
	right: 0%;
	min-width: 255px;
	max-width: 255x;
	min-height: 575px;
	max-height: 575px;
	border: solid 5px #3c3c3c;
	border-radius: 12px;
	padding: 10px;
	background: #2c2c2c;
	background: linear-gradient(
		135deg,
		rgba(36, 36, 36, 1) 0%,
		rgba(99, 99, 99, 1) 45%,
		rgba(99, 99, 99, 1) 46%,
		rgba(22, 22, 22, 1) 100%
	);
	filter: drop-shadow(4px 4px 1px #1c1c1c);

	transform: translate(125%, -50%);
	transition: all 0.66s ease-in;
}

.remoteController.focus {
	transform: translate(-25%, -50%);
	transition: all 0.99s ease-out;
}

.remoteControllerButtonsPanel {
	top: 32px;
	position: absolute;
	min-width: 225px;
	max-width: 225px;
	min-height: 430px;
	max-height: 430px;
	border-radius: 10px;
	padding: 8px;
	background: #3c3c3c;
	vertical-align: center;
	background: linear-gradient(
		135deg,
		rgba(44, 44, 44, 1) 0%,
		rgba(54, 54, 54, 1) 45%,
		rgba(54, 54, 54, 1) 46%,
		rgba(44, 44, 44, 1) 100%
	);
}

.remoteControllerTvButtonsPanel {
	top: 5px;
	left: 5px;
	position: absolute;
	min-width: 215px;
	max-width: 215px;
	min-height: 185px;
	max-height: 185px;
	border: solid 1px #ffffff;
}
.remoteControllerVcrButtonsPanel {
	top: 210px;
	left: 5px;
	position: absolute;
	min-width: 215px;
	max-width: 215px;
	min-height: 185px;
	max-height: 185px;
	border: solid 1px #ffffff;
}
.remoteControllerButtonsPanelTitle {
	top: -5px;
	left: 5px;
	position: absolute;
	padding: 2px;
	font-size: 8px;
	color: #ffffff;
	background: #3c3c3c;
}

.remoteControllerButton {
	cursor: pointer;
	position: absolute;
	min-height: 22px;
	max-height: 22px;
	padding: 3px;
	border-radius: 5px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
}
.remoteControllerButton:hover {
	color: #00cc00 !important;
	text-shadow: 1px 1px #8cff96 !important;
}

.remoteControllerButton.gray {
	color: #000000;
	background: linear-gradient(
		135deg,
		rgba(94, 94, 94, 1) 0%,
		rgba(224, 224, 224, 1) 45%,
		rgba(224, 224, 224, 1) 46%,
		rgba(94, 94, 94, 1) 100%
	);
	filter: drop-shadow(1px 2px 1px #909090);
	text-shadow: 1px 1px #cccccc;
}
.remoteControllerButton.green {
	color: #ffffff;
	background: linear-gradient(
		135deg,
		rgba(0, 164, 0, 1) 0%,
		rgba(0, 224, 0, 1) 45%,
		rgba(0, 224, 0, 1) 46%,
		rgba(0, 164, 0, 1) 100%
	);
	filter: drop-shadow(1px 2px 1px #00cc00);
	text-shadow: 1px 1px #333333;
}
.remoteControllerButton.green:hover {
	color: #00ffff !important;
	text-shadow: 1px 1px #8cff96 !important;
}
.remoteControllerButton.red {
	color: #ffffff;
	background: linear-gradient(
		135deg,
		rgba(164, 0, 0, 1) 0%,
		rgba(224, 0, 0, 1) 45%,
		rgba(224, 0, 0, 1) 46%,
		rgba(164, 0, 0, 1) 100%
	);
	filter: drop-shadow(1px 2px 1px #ff1212);
	text-shadow: 1px 1px #a41212;
}
.remoteControllerButton.red:hover {
	color: #00ff00 !important;
	text-shadow: 1px 1px #a41212 !important;
}
.remoteControllerButton.small {
	min-width: 40px;
	max-width: 40px;
	inline-size: 38px;
}
.remoteControllerButton.medium {
	min-width: 95px;
	max-width: 95px;
	inline-size: 93px;
}
.remoteControllerButton.big {
	min-width: 200px;
	max-width: 200px;
	inline-size: 198px;
}
.remoteControllerButton.pushed {
	filter: drop-shadow(0px 0px 0px #000000);
	transform: translate(1px, 2px);
	transition-duration: all 0.66s;
}

.remoteControllerButtonSpan {
	top: 50%;
	margin: auto;
	position: absolute;
	transform: translate(-50%, -50%);
}

.remoteControllerLed {
	top: 14px;
	left: 20px;
	position: absolute;
	min-width: 9px;
	max-width: 9px;
	min-height: 9px;
	max-height: 9px;
	border-radius: 4px;
}
.remoteControllerLed.on {
	background: #c60000;
}
.remoteControllerLed.off {
	background: #6c2a2a;
}

.remoteControllerLogo {
	top: 90%;
	left: 50%;
	position: absolute;
	margin: auto;
	width: 84px;
	height: 18px;
	max-width: 84px;
	max-height: 18px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/remote_logo.png");
	transform: translate(-50%, 0);
}

.remoteControllerLogoText {
	top: 85%;
	left: 50%;
	position: absolute;
	margin: auto;
	min-width: 120px;
	min-height: 50px;
	max-width: 120px;
	max-height: 50px;
	color: #ffffff;
	font-size: 44px;
	font-weight: bold;
	font-family: Glony;
	/*background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/remote_logo.png");*/
	/* transform: translate(-50%, 0%) scale(1.0, 0.66); */
}
