.shelfContainer {
	position: absolute;
	left: 0%;
	min-height: 96%;
	max-height: 96%;

	z-index: 1650;
	opacity: 1;
	cursor: default;
	overflow: hidden;
	background: transparent;
	border: solid 0px violet;
	clip-path: inset(0px 20x 0px 0px);
	transform: translate(-50%, 0);
	transition: all 0.66s ease-out;
}

.shelfContainer.open {
	opacity: 1;
	transform: translate(0%, 0);
	transition: all 0.99s ease-out;
}
.shelfContainer.hidden {
	opacity: 0;
	transition: all 1.99s ease-in;
}

.shelf {
	position: absolute;
	left: 0%;
	top: 0%;
	bottom: 2%;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1660;
	opacity: 0;
	/* transform: translate(-50%, 0); */
	transition: all 0.66s ease-in;
}

.shelf.open {
	opacity: 1;
	/* transform: translate(-50%, 0); */
	transition: all 0.99s ease-out;
}

.shelfLock {
	position: fixed;
	top: 50%;
	right: 33%;
	opacity: 0.25;
	color: #56c4d2;
	transform: translate(0, -50%) scaleX(1);
	/* transform: translate(-250%, -50%) scaleX(-1); */
	transition: all 0.66s ease-out;
}

.shelfLock:hover {
	opacity: 1;
	transition: all 0.66s ease-out;
}

.shelfLock.locked {
	opacity: 0.15;
	color: #be27b2;
	transform: translate(0, -50%) scaleX(-1);
	transition: all 0.66s ease-out;
}

.shelfLock.locked:hover {
	opacity: 1;
	transition: all 0.66s ease-out;
}

.shelfTapePlaceholder {
	position: absolute;
	opacity: 0;
	display: block;
}

.shelfTapeTray {
	z-index: 3;
	position: absolute;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(16, 64, 64, 1) 0%,
		rgba(18, 143, 137, 1) 16%,
		rgba(128, 255, 255, 1) 50%,
		rgb(18, 143, 137, 1) 84%,
		rgba(16, 64, 64, 1) 100%
	);
}

.shelfTapeHolder {
	position: absolute;
	display: block;
	z-index: 3;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(32, 64, 64, 1) 0%,
		rgba(128, 160, 160, 1) 16%,
		rgba(225, 255, 255, 1) 50%,
		rgba(128, 160, 160, 1) 84%,
		rgba(32, 64, 64, 1) 100%
	);
}

.posterContainer {
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 144;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: none;
	transform: translate(-50%, -50%);
	transition: all 0.66s ease-in;
}
.posterContainer.on {
	display: block;
	transition: all 0.66s ease-in;
}

.shelfTestVideo {
	display: none;
	z-index: 1;
}
