.signal {
	display: none;
}

.signalScreen {
	position: absolute;
	left: 0%;
	top: 0%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 1%;
	z-index: 25;
	opacity: 0;
	background-color: #0a0a0a;
	/* background-color: #0000ff; */
	transition: all 0s;
	transition-delay: 0.33s;
}
.signalScreen.on {
	opacity: 1;
	transition: all 0s;
	transition-delay: 0.66s;
}

.signalScreenVcr {
	position: absolute;
	left: 0%;
	top: 0%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 1%;
	z-index: 25;
	opacity: 0;
	/* background-color: black; */
	/* background-color: #0000ff; */
	transition: all 0s;
	transition-delay: 0.33s;
	/* transform: scaleX(-1); */
}
.signalScreenVcr.on {
	opacity: 1;
	transition: all 0s;
	transition-delay: 0.66s;
	background-color: #171da8;
}

.signalScreenVcr.play {
	opacity: 1;
	transition: all 0s;
	transition-delay: 0.66s;
	background-color: black;
}

.signalScreenVcr.skip {
	/* margin-top: -14px !important; */
	transform: translate(0, 5px);
	transition: all 0.66s;
}

.signalVideo {
	position: absolute;
	left: 0%;
	min-width: 100%;
	max-width: 100%;
	min-height: auto;
	max-height: 100%;
	z-index: 26;
	background-color: black;
	/* background-color: #0000ff; */
	opacity: 0;
	/* border: solid 1px red; */
	transition: all 0.144s;
}
.signalVideo.on {
	opacity: 1;
	transition: all 0.144s;
}

.signalVideo.fs {
	top: 0 !important;
	left: 0;
	opacity: 1;
	width: 100vw !important;
	height: 100vh !important;
	position: fixed;
	object-fit: cover;
	transition: all 0.144s;
}

.signalText {
	position: absolute;
	left: 15%;
	bottom: 15%;
	min-width: 70%;
	max-width: 70%;
	min-height: 7%;
	max-height: 7%;
	z-index: 37;
	opacity: 0.2;
	color: white;
	font-size: 2vh;
	text-align: center;
	font-weight: normal;
	font-family: RealVhs;
}

.signalText.on {
	opacity: 1;
}

@keyframes blur {
	0% {
		filter: blur(1px);
		opacity: 0.8;
	}
	50% {
		filter: blur(1px);
		opacity: 1;
	}
	100% {
		filter: blur(1px);
		opacity: 0.8;
	}
}
@keyframes flick {
	50% {
		left: 2px;
	}
	51% {
		left: 0;
	}
}
@keyframes jump {
	30% {
		top: 10px;
	}
	31% {
		top: 0;
	}
}

@keyframes appear {
	0% {
		filter: blur(5px);
		opacity: 0.85;
	}
	50% {
		filter: blur(3px);
		opacity: 0.85;
	}
	100% {
		filter: blur(4px);
		opacity: 0.85;
	}
}

@keyframes big-jump {
	0% {
		top: 0;
	}
	10% {
		top: -100px;
	}
	12% {
		top: 0;
	}
	54% {
		top: 0;
	}
	55% {
		top: -300px;
	}
	56% {
		top: 0;
	}
	86% {
		top: 0;
	}
	87% {
		top: -600px;
	}
	88% {
		top: 0;
	}
}

@keyframes track {
	40% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: scale(1, 1);
		transform: skew(0, 0);
	}
	41% {
		opacity: 0.8;
		top: 0px;
		left: -100px;
		transform: scale(1, 1.2);
		transform: skew(50deg, 0);
	}
	42% {
		opacity: 0.8;
		top: 0px;
		left: 100px;
		transform: scale(1, 1.2);
		transform: skew(-80deg, 0);
	}
	43% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: scale(1, 1);
		transform: skew(0, 0);
	}
}

.signalBottom {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 28;
	.active {
		display: block;
	}
}

.signalBottomLine {
	width: 100%;
	height: 4px;
	position: absolute;
	animation: appear 1s infinite, flick 1s infinite, big-jump 5ms infinite;
	.white {
		background: white;
		position: absolute;
		top: 0;
		left: 0;
		height: 4px;
	}
	.red {
		background: red;
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
	}
	.green {
		background: green;
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
	}
}
